{% if view is same as true %}
<a href="/users/me/activities/{{ activity.id }}" class="btn btn-primary"
  >View</a
>
{% endif %} {% if activity.isarchived is same as false %} {% if
activity.hasPassed() is same as false %}
<a href="/activities/{{ activity.id }}/edit" class="btn btn-success">Edit</a>
<form action="/activities/{{ activity.id }}/archive" method="POST">
  <input type="submit" value="Archive" class="btn btn-warning" name="archive" />
</form>
<form action="/activities/{{ activity.id }}/delete" method="POST">
  <input type="submit" value="Delete" class="btn btn-danger" name="delete" />
</form>
{% endif %} {% else %}
<div class="flex-grow-1 text-center">
  <strong> ARCHIVED </strong>
</div>
{% endif %}
