{% extends "layout.html" %} {% block content %}
<div class="row my-5">
  <h1>Book {{ activity.name }}</h1>
</div>
<div class="card">
  <img src="/img/surfing.jpg" alt="" class="card-img-top" />
  <div class="card-body">
    <p class="card-text">{{ activity.description }}</p>
    <p class="card-text">{{ activity.dateTimeToString }}</p>
    <p class="card-text">Cost: {{ activity.costToString() }} per person</p>
  </div>
</div>
<h2 class="h1 mt-5 mb-4">Book Now</h2>
<form action="" method="post">
  <fieldset>
    <legend>Select payment method:</legend>
    {% for creditCard in creditCards %}
    <div>
      <input
        type="radio"
        id="cc-{{ creditCard.id }}"
        name="cc"
        value="{{ creditCard.id }}"
      />
      <label for="cc-{{ creditCard.id }}"
        >TODO: Credit card ending in: {{ creditCard.number }}</label
      >
    </div>
    {% endfor %}

    <div>
      <input type="radio" id="cc-other" name="cc" value="cc-other" />
      <label for="cc-other">Other credit card:</label>
    </div>
  </fieldset>
  <fieldset>
    <label for="ccNumber" class="form-label">Credit Card Number:</label>
    <input
      type="text"
      class="form-control"
      id="ccNumber"
      name="ccNumber"
      aria-describedby="emailHelp"
    />
    <label for="ccExpiry" class="form-label">Expiry Date:</label>
    <input
      type="date"
      class="form-control"
      id="ccExpiry"
      name="ccExpiry"
      aria-describedby="emailHelp"
    />
    <label for="cvv" class="form-label">CVV:</label>
    <input
      type="text"
      class="form-control"
      id="cvv"
      name="cvv"
      aria-describedby="emailHelp"
    />
  </fieldset>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
