{% extends "layout.html" %} {% block content %}
<div class="row mt-5">
  <div class="col">
    <h2 class="h1 my-5">
      <strong>Booking #{{ reservation.id }}</strong>
    </h2>
    <div class="pt-3">
      <p><strong>Reserved on:</strong> {{ reservation.dateTimeToString() }}</p>
      <p>
        <strong>Payment:</strong> {{ reservation.activity.costToString() }}
      </p>
      <p>
        <strong>Payment method:</strong> {{ reservation.creditcard.number }}
      </p>
      <p></p>
        <strong>Reservation status:</strong> {{ reservation.reservationstatus.name }}
      </p>
      <p>
        <a class="btn btn-primary my-3" href="/activities/{{ reservation.activity.id }}">View Activity</a>
      </p>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="/img/surfing.jpg" alt="" class="card-img-top" />
      <div class="card-body">
        <h2 class="card-title">{{ reservation.activity.name }}</h2>
        <p class="card-text">{{ reservation.activity.description }}</p>
        <p class="card-text"><strong>Date:</strong> {{ reservation.activity.dateTimeToString }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
