{% extends "layout.html" %} {% block content %}
<div class="card my-5">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="mt-2 mb-4">Edit Activity: {{ activity.name }}</h1>
      <div class="d-flex">
        <div class="mx-1">
          <a
            href="/users/me/activities/{{ activity.id }}"
            class="btn btn-primary"
            >View Activity</a
          >
        </div>
        <form action="" class="mx-1">
          <input
            type="submit"
            value="Archive Activity"
            name="archive"
            class="btn btn-warning mb-4"
          />
        </form>
        <form action="" class="mx-1">
          <input
            type="submit"
            value="Delete Activity"
            name="delete"
            class="btn btn-danger mb-4"
          />
        </form>
      </div>
    </div>
    {{ include('components/alerts/success.html') }} {{
    include('components/alerts/danger.html') }}
    <form action="/activities/{{ activity.id }}/edit" method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Activity name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          value="{{ activity.name }}"
        />
        <div class="text-danger">{{ errors['name'] }}</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          name="description"
        >
{{ activity.description }}</textarea
        >
        <div class="text-danger">{{ errors['description'] }}</div>
      </div>
      <div class="row">
        <div class="col">
          <label for="date" class="form-label">Date</label>
          <input
            type="date"
            class="form-control"
            id="date"
            min="{{ 'now'|date('Y-m-d') }}"
            value="{{ activity.date }}"
            name="date"
          />
          <div class="text-danger">{{ errors['date'] }}</div>
        </div>
        <div class="col">
          <label for="time" class="form-label">Time</label>
          <input
            type="time"
            class="form-control"
            id="time"
            value="{{ activity.time }}"
            name="time"
          />
          <div class="text-danger">{{ errors['time'] }}</div>
        </div>
        <div class="col">
          <label for="cost" class="form-label">Cost (€)</label>
          <input
            type="number"
            class="form-control"
            id="cost"
            name="cost"
            step="any"
            value="{{ activity.cost }}"
          />
          <div class="text-danger">{{ errors['cost'] }}</div>
        </div>
      </div>
      <div>
        <input
          type="submit"
          value="Update Activity"
          name="edit"
          class="btn btn-success mt-4 mb-2"
        />
      </div>
    </form>
  </div>
  <img src="/img/surfing.jpg" alt="" class="card-img-bottom" />
</div>
{% endblock %}
