{% extends "layout.html" %} {% block content %}
<div class="row my-5">
  <h1>Activities</h1>
</div>
<form action="/activities" class="row my-5">
  <div class="col">
    <input
      type="text"
      class="form-control"
      name="search"
      placeholder="Search activities..."
    />
    {% if search is not empty %}
    <small
      >Search results for: {{ search }} ({{ activities|length }} result{{
      (activities|length != 1) ? 's' : '' }})
      <a href="/activities">Clear Search</a></small
    >
    {% endif %}
  </div>
  <div class="col-auto">
    <input type="submit" value="Search" class="btn btn-primary" />
  </div>
</form>
<div class="row my-5">
  {% for activity in activities %}
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex align-items-stretch">
    <div class="card">
      <img src="img/surfing.jpg" alt="" class="card-img-top" />
      <div class="card-body">
        <h2 class="h5 card-title">{{ activity.name }}</h2>
        <p class="card-text">{{ activity.description }}</p>
        <p class="card-text">{{ activity.dateTimeToString }}</p>
        <p class="card-text">Cost: {{ activity.costToString() }} per person</p>
        <a href="/activities/{{ activity.id }}" class="btn btn-primary"
          >View Details</a
        >
        <a
          href="/reservations/new?activity={{ activity.id }}"
          class="btn btn-success"
          >Book Now</a
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
