# Dependencies
vendor/

# mysql
/mysql/data/

# ignore dummy data
/mysql/init/02-dummy.sql

# Development env vars file that includes secrets
/dev.env

# TLS-related files. Keeping the directory in version control
# to alert it is necessary.
/tls/*

# Logs
/app/logs/*