{# TODO: make menu items dynamic #} {# TODO: mark *active* menu items
dynamically #}
<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">Booking</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for menuItem in menuItems %} {% endfor %} {% if getUserType() is not
        same as 'guest' %}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Welcome back, {{ session.name }}!
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/users/me">Profile</a></li>
            <li>
              <a class="dropdown-item" href="/users/me/reservations"
                >Reservations</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/users/me/activities"
                >Manage Activities</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <form action="/logout" method="post">
                <input
                  type="submit"
                  name="logout"
                  id="logout"
                  value="Logout"
                  class="link nav-link ms-5"
                />
              </form>
            </li>
          </ul>
        </li>
        {% endif %}
        <li>
          {% if getUserType() is same as 'guest' %}
          <a class="nav-link ms-5" href="\login">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
